body {
  background: url('../Images/trees-filtered.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: auto;
  width: 720;
  height: 960;
  padding: 10%;
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: break-word;
}

main {
  margin: auto;
  width: 700px;
  height: 940px;
}

h1 {
  font-size: 42.5px;
  font-weight: bold;
  color: rgb(241, 243, 232);
  text-align: center;
}

h2, h3 {
  color: rgb(241, 243, 232);
}

p, footer { 
  color: rgb(241, 243, 232);
  margin: auto;
  width: 700px;
  padding: 3%
}

#Jacob {
  width: 30%;
  height: auto;
  float: right;
}

ul {
  list-style-type: disc;
  color: rgb(241, 243, 232);
  margin: 20px 40px;
}

ol {
  color: rgb(241, 243, 232);
  list-style-type: decimal;
  list-style-position: inside;
}

li {
  padding: 3px;
}