body {
  width: 300px
  height: 300px:
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
  position: relative;
}

body::after {
  content: "";
  background: url('../images/trees.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.5;
}

h1 {
  font-size: 42.5px;
  font-weight: bold;
  color: rgb(251, 255, 236);
}

h2, h3 {
  color: rgb(251, 255, 236);
}

p, footer { 
  color: rgb(251, 255, 236);
  padding: 10px;
}

ul {
  list-style-type: disc;
  color: rgb(251, 255, 236);
  margin: 20px 40px;
}

ol {
  color: rgb(251, 255, 236);
  list-style-type: decimal;
  list-style-position: inside;
}

li {
  padding: 3px;
}